@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* index.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure full height for the container */
  box-sizing: border-box; /* Include borders and paddings in size calculation */
}


